<a href="https://colab.research.google.com/github/kemaladamr/python_data_mining/blob/main/Collecting_exploring_and_visualizing_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [2]:
sqlite_file = '/content/drive/MyDrive/Colab Notebooks/DATA-MINING-PACK/boston.db'

In [3]:
# connecting to the database file
conn = sqlite3.connect(sqlite_file)

In [7]:
# initialize a cursor object
cur = conn.cursor()

In [8]:
# define a traversing search
cur.execute("select * from boston limit 5;")

In [9]:
# fetch and print
data = cur.fetchall()
print(data)

[(0, 0.00632, 18.0, 2.31, 0.0, 0.538, 6.575, 65.2, 4.09, 1.0, 296.0, 15.3, 396.9, 4.98, 24.0), (1, 0.02731, 0.0, 7.07, 0.0, 0.469, 6.421, 78.9, 4.9671, 2.0, 242.0, 17.8, 396.9, 9.14, 21.6), (2, 0.02729, 0.0, 7.07, 0.0, 0.469, 7.185, 61.1, 4.9671, 2.0, 242.0, 17.8, 392.83, 4.03, 34.7), (3, 0.03237, 0.0, 2.18, 0.0, 0.458, 6.998, 45.8, 6.0622, 3.0, 222.0, 18.7, 394.63, 2.94, 33.4), (4, 0.06905, 0.0, 2.18, 0.0, 0.458, 7.147, 54.2, 6.0622, 3.0, 222.0, 18.7, 396.9, 5.33, 36.2)]

In [10]:
cur.execute("select ZN from boston where ZN > 0.0;")
data = cur.fetchall()
print(data)

[(18.0,), (12.5,), (12.5,), (12.5,), (12.5,), (12.5,), (12.5,), (12.5,), (75.0,), (75.0,), (21.0,), (21.0,), (21.0,), (21.0,), (75.0,), (90.0,), (85.0,), (100.0,), (25.0,), (25.0,), (25.0,), (25.0,), (25.0,), (25.0,), (17.5,), (80.0,), (80.0,), (12.5,), (12.5,), (12.5,), (25.0,), (25.0,), (25.0,), (25.0,), (28.0,), (28.0,), (28.0,), (45.0,), (45.0,), (45.0,), (45.0,), (45.0,), (45.0,), (60.0,), (60.0,), (80.0,), (80.0,), (80.0,), (80.0,), (95.0,), (95.0,), (82.5,), (82.5,), (95.0,), (95.0,), (30.0,), (30.0,), (30.0,), (30.0,), (30.0,), (30.0,), (22.0,), (22.0,), (22.0,), (22.0,), (22.0,), (22.0,), (22.0,), (22.0,), (22.0,), (22.0,), (80.0,), (80.0,), (90.0,), (20.0,), (20.0,), (20.0,), (20.0,), (20.0,), (20.0,), (20.0,), (20.0,), (20.0,), (20.0,), (20.0,), (20.0,), (20.0,), (20.0,), (20.0,), (20.0,), (20.0,), (40.0,), (40.0,), (40.0,), (40.0,), (40.0,), (20.0,), (20.0,), (20.0,), (20.0,), (90.0,), (90.0,), (55.0,), (80.0,), (52.5,), (52.5,), (52.5,), (80.0,), (80.0,), (80.0,), (70.0,), (70.0,), (70.0,), (34.0,), (34.0,), (34.0,), (33.0,), (33.0,), (33.0,), (33.0,), (35.0,), (35.0,), (35.0,), (55.0,), (55.0,), (85.0,), (80.0,), (40.0,), (40.0,), (60.0,), (60.0,), (90.0,), (80.0,), (80.0,)]

In [11]:
import pandas as pd
# get all data inside boston table limited to 5 rows
df = pd.read_sql_query("select * from boston limit 5;", conn)
print("df_shape = " + str(df.shape))

df_shape = (5, 15)

In [12]:
# get all data inside boston table
df = pd.read_sql_query("select * from boston;", conn)
print("df.shape = " + str(df.shape))
print("Sanity check with pandas head():")
print(df.head())
print("Summarize with pandas describe():")
print(df.describe().transpose())

df.shape = (506, 15)
Sanity check with pandas head():
   record     CRIM    ZN  INDUS  CHAS  ...    TAX  PTRATIO       B  LSTAT  MEDV
0       0  0.00632  18.0   2.31   0.0  ...  296.0     15.3  396.90   4.98  24.0
1       1  0.02731   0.0   7.07   0.0  ...  242.0     17.8  396.90   9.14  21.6
2       2  0.02729   0.0   7.07   0.0  ...  242.0     17.8  392.83   4.03  34.7
3       3  0.03237   0.0   2.18   0.0  ...  222.0     18.7  394.63   2.94  33.4
4       4  0.06905   0.0   2.18   0.0  ...  222.0     18.7  396.90   5.33  36.2

[5 rows x 15 columns]
Summarize with pandas describe():
         count        mean         std  ...        50%         75%       max
record   506.0  252.500000  146.213884  ...  252.50000  378.750000  505.0000
CRIM     506.0    3.593761    8.596783  ...    0.25651    3.647423   88.9762
ZN       506.0   11.363636   23.322453  ...    0.00000   12.500000  100.0000
INDUS    506.0   11.136779    6.860353  ...    9.69000   18.100000   27.7400
CHAS     506.0    0.069170    0.253994  ...    0.00000    0.000000    1.0000
NOX      506.0    0.554695    0.115878  ...    0.53800    0.624000    0.8710
RM       506.0    6.284634    0.702617  ...    6.20850    6.623500    8.7800
AGE      506.0   68.574901   28.148861  ...   77.50000   94.075000  100.0000
DIS      506.0    3.795043    2.105710  ...    3.20745    5.188425   12.1265
RAD      506.0    9.549407    8.707259  ...    5.00000   24.000000   24.0000
TAX      506.0  408.237154  168.537116  ...  330.00000  666.000000  711.0000
PTRATIO  506.0   18.455534    2.164946  ...   19.05000   20.200000   22.0000
B        506.0  356.674032   91.294864  ...  391.44000  396.225000  396.9000
LSTAT    506.0   12.653063    7.141062  ...   11.36000   16.955000   37.9700
MEDV     506.0   22.532806    9.197104  ...   21.20000   25.000000   50.0000

[15 rows x 8 columns]

In [14]:
# get all data inside boston table that has ZN greater than 0
df = pd.read_sql_query("select * from boston where ZN > 0.0;", conn)
print("df.shape = " + str(df.shape))

df.shape = (134, 15)

In [16]:
# same as above with additional filtering in of records greater than 250
df = pd.read_sql_query("select * from boston where ZN > 0.0 and record > 250;", conn)
print("df.shape = " + str(df.shape))

df.shape = (66, 15)

In [ ]:
# example of multiline search syntax
df = pd.read_sql_query(
    """ select record, ZN, AGE, TAX from boston
    
)